<!-- interface_launch.launch -->
<launch>

  <!-- Left (sx) arganello node -->
  <node pkg="climbingrobot_hardware_interface"
        type="arganello_node.py"
        name="arganello_sx"
        output="screen">

    <param name="serial_port"  value="/dev/serial/by-id/usb-1a86_USB_Single_Serial_5970047399-if00"/>
    <param name="arganello_id" value="sx"/>
    <param name="pool_rate"    value="200.0"/>
  </node>

  <!-- Right (dx) arganello node -->
  <node pkg="climbingrobot_hardware_interface"
        type="arganello_node.py"
        name="arganello_dx"
        output="screen">

    <param name="serial_port"  value="/dev/serial/by-id/usb-1a86_USB_Single_Serial_5970046081-if00"/>
    <param name="arganello_id" value="dx"/>
    <param name="pool_rate"    value="200.0"/>
  </node>

</launch>